<%
page.tag = '云标签';
%>
<%-css("css/pages/tag_category.css")%>
<div id="main" class="page tag_list_page" >
    <h2 class="tag-icon"><%= __('tags') %> <a href="javascript:renderColor()" class="color_btn">换一套颜色</a></h2>
    <%- list_tags()%>
</div>
<!--[if lt IE 9]>
<style type="text/css">.tag_list_page .tag-list li {transform:scale(1,1);-ms-transform:scale(1,1)}</style>
<![endif]-->
<script type="text/javascript">
    (function(){
        var getRandomColor = function(){
            return  '#' +
                    (function(color){
                        return (color +=  '0123456789abcdef'[Math.floor(Math.random()*16)])
                        && (color.length == 6) ?  color : arguments.callee(color);
                    })('');
        }
        if(!isIE || ieVersion>=9){
            document.addEventListener("DOMContentLoaded",function(){
                renderColor();
                $(".tag-list li").bind("click",function(evt){
                    var href = $(this).find("a").attr("href");
                    if(evt.target == this)location.href = href;
                })
            })
        }
        function renderColor(){
            $.each($(".tag-list li"),function(i,item){
                var li = $(item).css({"background-color":getRandomColor()});
                if(isIE && ieVersion==9){
                    li.addClass("rendered");
                }
                else{
                    setTimeout(function(){
                        li.addClass("rendered");
                    },i*120);
                }
            })
        }
    })();
</script>