<%
page.tag = '云标签';
%>
<%-css("css/pages/tag_category.css")%>
<div id="main" class="page tag_list_page" >
    <h2 class="tag-icon"><%= __('tags') %> <a href="javascript:renderColor()" class="color_btn">换一套颜色</a></h2>
    <%- list_tags()%>
</div>
<!--[if lt IE 9]>
<style type="text/css">.tag_list_page .tag-list li {transform:scale(1,1);-ms-transform:scale(1,1)}</style>
<![endif]-->
<script type="text/javascript">
    require(["jquery"],function(){
        if(!isIE || ieVersion>9){
            $(document).ready(function(){
                renderColor();
                $(".tag-list li").bind("click",function(evt){
                    var href = $(this).find("a").attr("href");
                    if(evt.target == this)location.href = href;
                })
            });
        }else{
            $(".tag-list li").each(function(i,item){
                $(item).css({"background-color":getRandomColor()}).addClass("rendered");
            });
        }
    })
    var getRandomColor = function(){
        return '#'+('00000'+(Math.random()*0x1000000<<0).toString(16)).slice(-6);
    }
    function renderColor(){
        $(".tag-list li").each(function(i,item){
            var li = $(item).css({"background-color":getRandomColor()});
            setTimeout(function(){
                li.addClass("rendered");
            },i*120);
        });
    }
</script>