<% if (site.categories.length){ %>
<div class="categorieslist">
	<p class="asidetitle"><a href="<%=config.root%>categories" title="查看所有分类"><%= __('categories') %></a></p>
	<%- list_categories({depth:1,show_count:false}) %>
</div>
<% } %>