<% if (site.tags.length){ %>
  <div class="tagcloudlist">
    <p class="asidetitle"><a href="<%=config.root%>tags" title="查看所有标签"><%= __('tagcloud') %></a></p>
    <div class="tagcloudlist clearfix">
       <%- tagcloud() %>
    </div>
  </div>
<script type="text/javascript">
  var getRandomColor = function(){
    return '#'+('00000'+(Math.random()*0x1000000<<0).toString(16)).slice(-6);
  }
  require(["jquery"],function(){
    $(document).ready(function(){
      $(".tagcloudlist .tagcloudlist a").each(function(i,item){
        item.style.color = getRandomColor();
      });
    })
  });
</script>
<% } %>