@import 'nib'
@import '../_base/variable'

.message_page
  padding 10px 15px
  form
    display block
    width 500px
    margin auto
    padding 20px 0
    >div
      padding 5px
      label
        display inline-block
        width 90px
        vertical-align middle
        text-align right
        margin-right 5px
        span
          color #FF0000

      select,input,textarea
        display inline-block
        width 300px
        padding 8px 3px
        vertical-align middle
      textarea
        resize none
        height 100px
    .verify_code
      width 100px
    .verify_img
      width 110px
      height 33px
      display inline-block
      margin-left 15px
      vertical-align middle

  .submit
    display block
    margin 10px auto
    width 250px
    padding 12px
    background-color color-theme
    color color-white
    cursor pointer
    font-size 22px
    border none
    outline none
    appearance none
    -webkit-appearance none
    &:hover
      background-color color-section-hover
  #error_msg
    width 300px
    background-color #EAA550
    text-align center
    font-size 13px
    color color-white
    padding 0
    margin 0 auto
    border-radius 5px
