article,aside,dialog,footer,header,section,footer,nav,figure,menu
  display block
.ie_warn
  padding 10px
  background-color #DCD566
  text-align center
  color #EA453D
  a
    color green
    &:hover
      color #2ca6cb
      text-decoration underline