[node-type="powered-by"]{
  display none !important;
}
.comment
  .head-gold-w
    display none !important;
.wrap-menu-dw
  .menu-box-dw
    .menu-box-bd-gold
      display: none !important;
#changyan_floatbar_wrapper
  display none
//#powerby_sohu
//  width 0 !important
//  height 0 !important
//  overflow hidden !important